<div class="resource-type-container container-fluid" ng-if="currentUser.role === 'admin'" ng-controller="IndexCtrl">
    <div class="container well">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ng-form>
                    <input type="text" class="resource-type-search" ng-model="searchText" placeholder="Пошук типу ресурсів по назві" size="30px"/>
                </ng-form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <form ng-submit="addResourceClass(addResClass)">
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="text" name="resource class" id="attribute" class="form-control form-control-custom" ng-model="addResClass" placeholder="Назва нового типу ресурсів" required />    
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button class="btn btn-material-amber-400 ng-scope btn-raised" type="submit">ДОДАТИ <span class="glyphicon glyphicon-plus"></span></button>    
                    </div>                   
                </form>
            </div> 
        </div>
    </div>  
    <div class="container well">
        <div class="row">
            <ul class="list-group">
                <li class="resource-type-group-item">
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-lg-11 col-md-11 col-sm-11 type-header"><h4>Назва типу</h4></div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"><h4></h4></div>
                    </div>
                </li>
                <li class="resource-type-group-item" ng-repeat="data in xmlData[0] | filter:searchText">
                    <div class="row">
                        <div class="btn btn-md btn-default collapsed col-lg-11 col-md-11 col-sm-11" ng-class="{'btn-disabled' : data[0].activation_status == 0}" ng-attr-data-toggle="{{data[0].activation_status == 1 ? 'collapse' : 'notcollapse'}}" data-target="{{'#demo' + data[0].class_id}}">
                            <div class="col-lg-1 col-md-1 col-sm-1 accordion-arrow"><span class="glyphicon glyphicon-menu-down"></span></div>
                            <div class="col-lg-11 col-md-11 col-sm-11">{{data[0].name}}</div>    
                        </div>    
                        <div class="btn-group text-left">
                            <a class="btn btn-material-red-400 text-center ng-scope" title="Деактивувати" ng-if="currentUser.role === 'admin' &amp;&amp; currentUser.isLogined" ng-show="{{data[0].activation_status == 1}}" ng-click="changeActivationStatus(0, data[0].class_id)">
                            <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class="btn btn-material-grey-500 text-center ng-scope" title="Активувати" ng-if="currentUser.role === 'admin' &amp;&amp; currentUser.isLogined" ng-show="{{data[0].activation_status == 0}}" ng-click="changeActivationStatus(1, data[0].class_id)">
                            <span class="glyphicon glyphicon-ok"></span>
                            </a>    
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div id="{{'demo' + data[0].class_id}}" class="collapse">
                                <div class="row">
                                    <form name="myForm" role="form" ng-submit="addAttribute(addAttr, data[0].class_id)">
                                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <input type="text" center name="attribute" id="attribute" class="form-control form-control-custom" ng-model="addAttr" placeholder="Назва нового атрибуту" required />
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2">
                                            <button type="submit" class="btn btn-material-amber-400 btn-raised">ДОДАТИ <span class="glyphicon glyphicon-plus"></span></button>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6"></div>   
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                                    <div class="col-lg-11 col-md-11 col-sm-11 attribute-bar">  
                                        <span ng-repeat="attributes in data[1]">
                                            <span class="btn-material-blue-grey-50 btn-raised button-attr">
                                                <span>{{attributes.name}} <a ng-click="deleteAttribute(attributes.attribute_id, data[0].class_id)"><span class="glyphicon glyphicon-remove"></span></a></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>                                   
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>                      
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="resources.length === 0">
    There are no resources
</div>


