<div class="jumbotron col-md-6 md-login">
        <h2>Редагування громади</h2>
        <form name="myForm" role="form" ng-submit="commEdit.updateComm()">
            <div class="form-group" >
                <label for="community_name">Назва громади<sup>*</sup></label>
                <input type="text" name="community_name" class="form-control" ng-model="commEdit.community.name" required />
            </div>
            <div class="form-group" >
                <label for="community_num">№-Код громади<sup>*</sup></label>
                <input type="text" name="community_num" class="form-control" ng-model="commEdit.community.prefix" required />
            </div>
            <div class="form-group" >
                <label for="community_additions">Примітки</label>
                <textarea type="text" name="community_additions" class="form-control" rows="3" ng-model="commEdit.community.notes"/>
            </div>
            <div ng-switch="commEdit.community.isactive">
                <div ng-switch-when="1">
                    <p>Ця громада активна</p>
                </div>
                <div ng-switch-when="0">
                    <p>Ця громада деактивована</p>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit"  class="btn btn-primary">Зберегти</button>
                <a href="resource/community" class="btn btn-link">Відмінити</a>
            </div>
        </form>
    </div>