<div ng-controller="communityAddCtrl">
    <div class="jumbotron col-md-6 md-login">

        <h2>Реєстрація нової громади</h2>
        <form name="form" role="form">
            <!-- <div class="form-group" >
                <label for="community_name">Назва громади</label>
                <input type="text" name="community_name" id="community_name" class="form-control" ng-model="comAdd.community_name" required />
            </div>
            <div class="form-group" >
                <label for="community_num">№-Код громади</label>
                <input type="text" name="community_num" id="community_num" class="form-control" ng-model="vm.community_num" placeholder="000:00:00:000"  required />
            </div> -->
            <div class="form-group" >
                <label for="community_commissioner">Уповноважений тер.громади</label>
                <div class="input-group">
		            <input type="text" name="commissioner" id="community_commissioner" class="form-control" ng-model="comAdd.username"  />
                    <span>{{comAdd.findUser}}</span>
	                <span class="input-group-btn">
				    	<button class="btn btn-info btn-sm" ng-click="comAdd.getUserFromDb()" type="button">Пошук по базі</button>
				    </span>
				</div>
            </div>
           <!--  <div class="form-group" >
                <label for="community_additions">Примітки</label>
                <textarea type="text" name="additions" id="community_additions" class="form-control" rows="3" ng-model="comAdd.community_additions" />
            </div>

            <div class="form-actions">
                <button type="submit" ng-click="vm.community_registration()" class="btn btn-primary">Зареєструвати</button>
                <a href="site/login" class="btn btn-link">Відмінити</a>
            </div> -->
        </form>
    </div>
</div>