
    <div class="jumbotron col-md-6 md-login">
        <h2>Реєстрація нової громади</h2>
        <form name="myForm" role="form" ng-submit="comAdd.addCommunity()">
            <div class="form-group" >
                <label for="community_name">Назва громади</label>
                <input type="text" name="community_name" id="community_name" class="form-control" ng-model="comAdd.community.name" placeholder="вкажіть назву громади" required/>
            </div>
            <div class="form-group" >
                <label for="community_num">№ Код громади</label>
                <div class="input-group">
                    <input type="text" name="community_num" id="community_num" class="form-control" ng-model="comAdd.community.num" placeholder="внесіть номер громади у певному форматі" required/><span class="input-group-addon" id="basic-addon2" style="background-color: #CFCFCF; border-radius: 2px;">приклад: 123:45:67:890</span>
                </div>
            </div>
            <div class="form-group" >
                <label for="community_additions">Примітки</label>
                <textarea type="text" name="additions" id="community_additions" class="form-control" rows="3" ng-model="comAdd.community.additions" placeholder='вкажіть адресу, контактні дані та ін.' />
            </div>

            <div class="form-actions">
                <button type="submit"  class="btn btn-primary">Зареєструвати</button>
                <a href="resource/community" class="btn btn-link">Відмінити</a>
            </div>
        </form>
    </div>
