<div ng-controller="communityAddCtrl">
    <div class="jumbotron col-md-6 md-login">
        <div class="alert alert-success fade in" style="display: none">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Успіх!</strong><span> Ви додали "{{comAdd.community_name}}" як нову громаду</span>
        </div>
        <h2>Реєстрація нової громади</h2>
        <form name="form" role="form" ng-submit="comAdd.addCommunity()">
            <div class="form-group" >
                <label for="community_name">Назва громади</label>
                <input type="text" name="community_name" id="community_name" class="form-control" ng-model="comAdd.community_name" required />
            </div>
            <div class="form-group" >
                <label for="community_num">№-Код громади</label>
                <input type="text" name="community_num" id="community_num" class="form-control" ng-model="comAdd.community_num" placeholder="000:00:00:000" required />
            </div>
            <!-- <div class="form-group" >
                <label>Уповноважений тер.громади</label>
                <div class="input-group">
		            <input type="text" class="form-control" id="commissioner_id" ng-model="comAdd.username" placeholder="введіть 'username'" />
                    <span>{{comAdd.findUser}}</span>
	                <span class="input-group-btn">
				    	<button class="btn btn-info btn-sm" ng-click="comAdd.getUserFromDb()" type="button">Пошук по базі</button>
				    </span>
				</div>
            </div> -->
            <div class="form-group" >
                <label for="community_additions">Примітки</label>
                <textarea type="text" name="additions" id="community_additions" class="form-control" rows="3" ng-model="comAdd.community_additions" placeholder='вкажіть адресу, контактні дані та ін.' />
            </div>

            <div class="form-actions">
                <button type="submit"  class="btn btn-primary">Зареєструвати</button>
                <a href="site/login" class="btn btn-link">Відмінити</a>
            </div>
        </form>
    </div>
</div>