<div ng-controller="CommissionerCtrl" class="community-container">
	

<style>
	.community-container li.list-group-item {
		border-bottom: 1px solid #e3e3e3;
	}
	.list-group-item:nth-child(1) {
		font-weight: 700;
	}
	.community-container .list-group-item:last-child {
		border-bottom: 0px solid transparent;
	}
	.list-group-item div > div {
		line-height: 56px;
	}
</style>



	<div class="container well">
		<div class="row">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-12">Призначення уповноваженого громади {{commissCtrl.name}}, {{commissCtrl.prefix}}</div>
						
					</div>
				</li>
				<li class="list-group-item" ng-repeat="itm in commissCtrl.users">
					<div class="row">
						<div class="col-lg-5">{{itm.name}}</div>
						<div class="col-lg-5">{{itm.prefix}}</div>
						<div class="col-lg-2"> 
						
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>







</div>
