<div class="user-container community-container">
	<div class="container well">
		<div class="row">
			<div class="col-lg-10 col-md-8 col-sm-8">
				<ng-form>
					<input type="text" class="community-search" ng-model="userSearch" ng-enter="searchUser(userSearch)" placeholder="Пошук по прізвищу та імені" size="30px"/>
					<button class="btn btn-primary" type="submit" value="Пошук" ng-click="searchUser(userSearch)">Пошук</button>
				</ng-form>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4">
				<a class="btn btn-material-amber-400 ng-scope" href="site/registration">
				ДОДАТИ <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
			</div>
		</div>
	</div>	
	<div class="container well">
		<div class="row">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row sorting-link">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">
						<a class="sorting-link" title="Сортувати" ng-click="sortName()">Прізвище та ім'я <span class="glyphicon glyphicon-sort-by-attributes"></span></a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="currentUser.role === 'commissioner'">
						<a class="sorting-link" title="Сортувати" ng-click="sortName()">Прізвище та ім'я <span class="glyphicon glyphicon-sort-by-attributes"></span></a>
                        </div>					
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Логін</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Паспортні дані</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">
							<select ng-model="roleFilter" ng-change="filterRole(roleFilter)">
								<option value="">Всі користувачі</option>
				            	<option value="admin">Адміністратор</option>
				            	<option value="registrar">Реєстратор</option>
				            	<option value="user">Співвласник</option>
				            	<option value="commissioner">Уповноважений</option>
				            </select>
				        </div>
				        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="currentUser.role === 'commissioner'">
							<select ng-model="roleFilter" ng-change="filterRole(roleFilter)">
								<option value="">Всі користувачі</option>
				            	<option value="registrar">Реєстратор</option>
				            	<option value="user">Співвласник</option>
				            	<option value="commissioner">Уповноважений</option>
				            </select>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">Громада</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Дії</div>
					</div>
				</li>
				<li class="list-group-item" ng-repeat="data in xmlData.items">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">{{data.last_name}} {{data.first_name}}</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="currentUser.role === 'commissioner'">{{data.last_name}} {{data.first_name}}</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{data.username}}</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{data.passport_series}} {{data.passport_number}}</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">{{data.role_name}}
							<!-- <select id="user-role-selector" ng-model="changeRoleId" ng-change="changeRole(changeRoleId, data.user_id)">
				        		<option value="{{item.role_id}}" selected hidden>{{data.role_name}}</option>
				        		<option ng-repeat="item in roleFound" value="{{item.role_id}}" ng-hide="data.role_name == item.role_name">{{item.role_name}}</option>
				        	</select> -->
				        </div>
				        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-if="currentUser.role === 'commissioner'">{{data.role_name}}
							<!-- <select id="user-role-selector" ng-model="changeRoleId" ng-change="changeRole(changeRoleId, data.user_id)">
				        		<option value="{{item.role_id}}" selected hidden>{{data.role_name}}</option>
				        		<option ng-repeat="item in roleFound" value="{{item.role_id}}" ng-hide="data.role_name == item.role_name">{{item.role_name}}</option>
				        	</select> -->
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-if="currentUser.role === 'admin'">{{data.community_name}}
							<!-- <select id="community-role-selector" ng-model="changeComId" ng-change="changeCommunity(changeComId, data.user_id)" ng-hide="!data.community_name">
				        		<option value="{{item.community_id}}" selected hidden>{{data.community_name}}</option>
				        		<option ng-repeat="item in communityFound" value="{{item.community_id}}" ng-hide="data.community_name == item.name">{{item.name}}</option>
				        	</select> -->
				        </div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<div class="btn-group">
								<a class="btn btn-primary ng-scope" title="Редагувати" href="user/edit/{{data.user_id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							 	</a>
							 	<a class="btn btn-material-red-400 text-center ng-scope" title="Деактивувати" ng-show="{{data.activation_status == 1}}" ng-click="changeActivationStatus(0, data.user_id)" id="deact-button-{{$index}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        		</a>
                        		<a class="btn btn-material-grey-500 text-center ng-scope" title="Активувати" ng-show="{{data.activation_status == 0}}" ng-click="changeActivationStatus(1, data.user_id)"  id="act-button-{{$index}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        		</a>
							</div>
						</div>           	
					</div>
				</li>
			</ul>
			<div class="col-md-8 margin_bottom">          
				<pagination-directive></pagination-directive> 
           	</div>  
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(".sorting-link").click(function(e) {
			e.preventDefault();
			if ($(this).children("span").hasClass("glyphicon-sort-by-attributes")) {
				$(this).children("span").removeClass("glyphicon-sort-by-attributes");
				$(this).children("span").addClass("glyphicon-sort-by-attributes-alt");
			} else {
				$(this).children("span").removeClass("glyphicon-sort-by-attributes-alt");
				$(this).children("span").addClass("glyphicon-sort-by-attributes");
			}				
		});
	});
</script>