<div ng-if="currentUser.role === 'registrar'">
<style>
	#user-role-selector option:nth-child(0) {
	    _display: none !important;
	}
</style>
	<div class="col-md-12">
		<div class="md-list-group">
			<ul class="list-group">
				<li class="row list-group-item">
		            <div class="col-md-1 text-center">
		            	<h4>
		            		<button ng-click="sort('username')">Логін</button>
		            	</h4>
		            </div>
		            <div class="col-md-4 text-center">
		            	<h4>
		             		<button ng-click="sort('last_name')">Прізвище та ім'я</button>
		            	</h4>
		            </div>
		            <select ng-model="roleSearch" ng-change="searchRole(roleSearch)" class="col-md-3 text-center">
						<option value="">Всі користувачі</option>
		            	<option value="admin">Адміністратор</option>
		            	<option value="registrar">Реєстратор</option>
		            	<option value="user">Користувач</option>
		            	<option value="commissioner">Коміссіонер</option>
		            </select>
		        </li>
			    <li class="list-group-item shadow-z-1 md-list row" ng-repeat="data in list_users.items | filter:idFilter">
			        <div class="col-md-1 text-center res_vert_allight_list">{{data.username}}</div>
			        <a class="col-md-4 text-center res_vert_allight_list">{{data.last_name}} {{data.first_name}}</a>
			        <a class="col-md-3 text-center res_vert_allight_list">
			        	{{data.role_name}}
			        	<select id="user-role-selector" ng-model="changeRoleId" ng-change="changeRole(changeRoleId, data.user_id)">
			        		<option value="">{{data.role_name}}</option>
			        		<option value="1">user</option>
			        		<option value="2">registrar</option>
			        		<option value="3">admin</option>
			        		<option value="4">commissioner</option>
			        	</select>
			        </a>
				    <div class="btn-group">
	                    <a class="btn btn-material-grey-200 text-center"
	                       ng-click="user.del(user.user_id)">
	                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	                    </a>
	                </div>		
			    </li>
			</ul>
		</div>
		<div class="col-md-12 center" >
			<ul class="pagination pagination-sm">
	            <li ng-if="list_users._links.first">
	                <a href="" ng-click="setPage(list_users._links.first.href, 'first')">&laquo;</a>
	            </li>
	            <li ng-if="list_users._links.prev">
	                <a href="" ng-click="setPage(list_users._links.prev.href, 'prev')" >‹</a>
	            </li>

	            <li ng-repeat="page in getPages(list_users._meta.pageCount) track by $index"
	                ng-click="switchPage(page)" ng-class="{active: page == currentPage}"
	                ng-if="page">
	                <span>{{page}}</span>
	            </li>
	            <li ng-if="list_users._links.next">
	                <a href="" ng-click="setPage(list_users._links.next.href, 'next')" >›</a>
	            </li>
	            <li ng-if="list_users._links.last">
	                <a href="" ng-click="setPage(list_users._links.last.href, 'last')">&raquo;</a>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
